* {}

body {}

.header{
    background-color: blanchedalmond;
    font-size: 72PX;
    text-align: center;
    width: 1400PX;
    height: 200PX;
    margin: auto;
}
.refresh{
    font-size: 52px;
    background-color: aquamarine;
    display: block;
    width: 250px;
    height: 80px;
    margin: auto;
}